.card{
  color:white;
  margin-bottom: 5vh;
}

.image{
  //height: 200px;
  //width: 200px;
  width: 120px;
  width: 120px;
  margin: auto;
}

.container {
  margin-top: 2vh;
  display: flex;
}

.panel {
  flex: 1;
}

.search {
  flex: 0 0 10%;
}

